<%
directive dynamic dictionarySearch;
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>字典配置</title>
    <link rel="stylesheet" href="${siteurl}/templates/skin2/template/plugins/layui/css/layui.css" media="all">
</head>
<body>
<br>
<div class="layui-form layui-form-pane" id="main">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <!--字典类型-->
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">字典类型</label>
                    <div class="layui-input-inline">
                        <select name="dicttypeid" lay-search="" id="dicttypeid">
                            <option value="">搜索或选择</option>
                        </select>
                    </div>
                </div>
                <!--字典值-->
                <div class="layui-inline">
                    <span class="layui-form-label">字典值</span>
                    <div class="layui-input-inline">
                        <input type="text" id="dictvalue" v-model="dictionarySearch.dictvalue" class="layui-input" name="dictvalue">
                    </div>
                </div>
                <div class="layui-inline ">
                    <%
                    if(has(token_186)){
                    println('<button class="layui-btn" type="submit" lay-submit lay-filter="onSearch">查询</button>');
                    };
                    if(has(token_187)){
                    println('<button class="layui-btn" data-type="addDictionary">新增</button>');
                    };
                    if(has(token_188)){
                    println('<button class="layui-btn" data-type="getCheckData">删除</button>');
                    };
                    %>
                </div>
            </div>
        </div>
    </div>
</div>

<!--生成数据列表-->
<table class="layui-hide" id="test" lay-filter="demo"></table>

<script type="text/html" id="barDemo">
    <%
    if(has(token_189)){
    println('<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>');
    };
    if(has(token_190)){
    println('<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>');
    };
    %>
</script>

<div id="pagination"></div>
<script type="text/javascript" src="${siteurl}/templates/default/media/js/jquery1.9.1.js"></script>
<script src="${siteurl}/templates/skin2/template/plugins/layui/layui.js"></script>
<script type="text/javascript" src="${siteurl}/public/libs/vue.min.js"></script>
<!--业务逻辑JS-->
<script type="text/javascript" src="${siteurl}/templates/skin2/media/js/biz/Dictionary/dictionaryList.js"></script>

</body>
<script type="text/javascript">
    var siteurl = '${siteurl}';
</script>

</html>